html, body {
    font-family: 'Varela Round', sans-serif;
    padding: 0;
    margin: 0;
}

#map {
        height: 100vh;  /* The height is 400 pixels */
        width: 100vw;  /* The width is the width of the web page */
        float: none;
        z-index: 0
        top: 0px;
       }

.padding-bottom {
    padding-bottom: 5px;
    
}

.initiallyHidden { display: none; }


h5 {
    margin: 0px
}

#menu {
    color: #4465ff;
    z-index: 1;
    position: fixed;
    left: 68px;
    top: 80px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
}

.forms {
    background-color: transparent;
}

.clear {
    background-color: transparent;
    border: 0;
    border-style: hidden;
    
}

.dropdown:click .dropdown-content {
    display: block;
}

.icon {
    width: 50px;
    border-radius: 50%;
    opacity: 1;
    text-align: center;
    transition: transform 0.3s;
    padding: 3px;
   
}

.icon:hover { 
    transform: scale(0.90); 
}

.icon:active {
  //background-color: transparent;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
  transform: scale(0.70);
}

.icon:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.buttons {
    position: fixed;
    z-index: 2;
    left: 13px;
    top: 75px
}



#topRightLogo {
    color: white;
    font-size: 20px;
    position: fixed;
    top: 50px;
    z-index: 1;
    right: 5px;
    margin: 0px;
    pointer-events: none;

}


.iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   border-radius: 4px; 
}

.iw-container {
    margin: 1px 0px 0px 1px  ;
    height: 240px;
    
}

.iw-title h4 {
    margin: 0px 0px 5px 15px;
}

.gm-style-iw {
   width: 400px !important;
   top: 0px !important;
   left: 0px !important;
   border-radius: 5px;
   margin: 0px;
   color: #4465ff;
   font-family: 'Varela Round', sans-serif;
}


.routeInfoSection {
    display: flex;
    align-items: center;

}

.infoBubbleArrow {
    width: 80px;
    height: 80px;
    border-radius: 80%;
    border: 2px solid #4465ff;
    text-align: center;
}


.indivInfoPresentation {
    margin: 0px 10px 0px 10px;
    
}

.indivInfoPresentation h4 {
    display: block;
    text-align: center;
    position: relative;
    top 20%;
}

.arrow {
    margin: auto;
    display: block;
    z-index: 3;
}


#ratingTxt {
    position: relative;
    top: 20%
  
}


#gradeTxt {
  position: relative;
    top: 20%
}



#typeTxt {
   position: relative;
    top: 20%
}

.white-cover {
    background-color: white;
    z-index: 4;
    border-radius: 7px;
    position: relative;
    top: 140px;
}

a:link, a:visited {
    text-decoration: none;
    color: #4465ff
}

.small-window {
   margin: 25px 0px 0px 25px ;
}



 